div {
    width: 800px;
    height: 500px;
    background-color: red;
    text-align: center;
    line-height: 500px;
    color: rgb(255, 255, 255);
    overflow: hidden;
    transition: all 0.5s;
}

div:hover {
    background-color: rgb(250, 185, 185);
    border-radius: 50px;
}